<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- Required for push notifications -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application>
        <activity
            android:name=".webView.WebViewActivity"
            android:theme="@style/FullScreenWebViewTheme"
            android:exported="false" />
        <activity
            android:name=".pip.ui.PiPActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:exported="true"
            android:launchMode="singleInstance"
            android:supportsPictureInPicture="true"
            android:theme="@style/FullScreenWebViewTheme"
            tools:targetApi="n" />
        <activity
            android:name=".inAppMessage.ui.InAppMessageBaseActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Translucent" />
    </application>

</manifest>